QMainWindow {
	background-color: rgb(54, 54, 54);
    border: none;
}

QToolTip {
    color: rgb(11, 11, 11);
    background-color: rgb(220, 220, 220);
    border: none;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    opacity: 255;
}

QToolButton {
    background-color: rgb(82, 82, 82);
    border: none;
    margin: 0px;
}

/*----- Quick Actions Panel -----*/
QTabWidget#QuickActionsPanel QToolButton { 
    padding: 10 4 10 4px;
    icon-size: 24px;
}

QTabWidget#QuickActionsPanel QToolButton:hover {
    background-color: rgb(134, 134, 134);
}

QTabWidget#QuickActionsPanel QToolButton:pressed {
    padding-top: 14px;
}

QTabWidget::tab-bar {
    alignment: left;
}

QTabBar::tab {
    color: rgb(155, 155, 155);
    background-color: rgb(54, 54, 54);
    border: none;
    padding: 4 8 4 8px;
    margin: 2 0 0 0px;
    font-size: 12px;
}

QTabBar::tab::selected, QTabBar::tab::hover {
    color: rgb(206, 206, 206);
    background-color: rgb(82, 82, 82);
}

QTabWidget::pane {
    background-color: rgb(82, 82, 82);
    border: none;
    padding: 0 6 0 6px;
}

/* ----- Tools Panel ----- */
QGroupBox QToolButton { 
    padding: 4px;
    icon-size: 22px;
}

QGroupBox QToolButton:hover {
    background-color: rgb(134, 134, 134);
}

QGroupBox QToolButton:pressed {
    padding-top: 6px;
}

QGroupBox {
    background-color: rgb(82, 82, 82);
    border: none;
    padding: 0px;
    margin-top: 28px;
    font-size: 12px;
}

QGroupBox::title {
    color: rgb(155, 155, 155);
    background-color: rgb(54, 54, 54);
    text-align: left;
    subcontrol-origin: margin;
    subcontrol-position: top left; 
    margin: 0px;
    padding: 6 6 6 6px;
}

/* ----- 3D Scene Window ----- */
QWidget#sceneWindow {
    min-height: 300px;
    min-width: 400px;
}






