QToolButton { 
	background-color: rgb(82, 82, 82);
    border: none;
    margin: 0px;
    padding: 0px;
    min-height: 48px;
    min-width: 36px;
    max-height: 48px;
    max-width: 36px;
    icon-size: 28px;
}

QToolButton:hover {
    background-color: rgb(134, 134, 134);
    border-style: inset;
}

QToolButton:pressed {
    padding-top: 2px;
}

QTabWidget::tab-bar {
    alignment: left;
}

QTabBar::tab {
    color: rgb(155, 155, 155);
    background-color: rgb(54, 54, 54);
    border: none;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;

    margin-top: 10px;
    font: 12px;
}

QTabBar::tab::selected, QTabBar::tab::hover {
    color: rgb(206, 206, 206);
    background-color: rgb(82, 82, 82);
}

QTabWidget::pane {
	background-color: rgb(82, 82, 82);
    border: none;
    padding-left: 6px;
}

QDockWidget {
    min-height: 80px; 
    max-height: 80px; 
}
